{% extends "base.html" %} {% block styles %} {{super()}}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='bootstrap-grid.css')}}"
/>
{% endblock %} {% block app_content %}
<div class="jumbotron">
  <h1 class="display-4">About</h1>
  <p>Peptoid Data Bank - More information about us</p>
  <hr class="my-4" />
  <p style="font-size: 1.5rem; font-weight: 300">
    This web application is a searchable database of published peptoid
    structures. This application also offers two APIs that can also be used to
    retrieve peptoid data.
  </p>
</div>
<div
  class="card"
  style="
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    padding: 1rem !important;
    margin-bottom: 3rem !important;
    background-color: #f8f9fa !important;
    border-radius: 0.25rem !important;
  "
>
  <div class="card-body">
    <h1>The Peptoid Data Bank</h1>
    <p>
      The PeptoidDB serves to provide the scientific community with a
      comprehensive source of all known, experimentally determined,
      high-resolution, three-dimensional peptoid structures. While currently the
      number of X-ray crystal and NMR structures is limited, it is our hope that
      this database will provide researchers with convenient structural
      information that will allow the database to expand, providing more insight
      into peptoid conformation.
    </p>
    <h1>New Features</h1>
    <p>
      The <em>new</em> Peptoid Data Bank allows researchers to search for
      peptoids published by specific authors, containing specific residues, with
      a certain DOI, topology, or ones solved by one of the two experimental
      techniques. Additionally, the new Peptoid Data Bank offers an API
      (Application Programming Interface) that can be used by researchers to
      access data from the database with their own custom code.
    </p>
    <h1>About the Data</h1>
    <p>
      Published structures consisting of at least three tertiary amide bonds,
      linked only by methylene units, are included here. Structures consisting
      only of Proline are omitted, as they are well-respresented in other data
      banks. Listings for X-ray crystal structures link to the data deposited in
      the
      <a href="https://www.ccdc.cam.ac.uk/solutions/csd-core/components/CSD/"
        >Cambridge Structural Database</a
      >. Listings for NMR structures link to the original publication, where
      each structure is available as Supporting Information.
    </p>
  </div>
  <br />
  <br />
  <br />
  {% endblock %}
</div>
