{% extends "base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='bootstrap-grid.css')}}">
{% endblock %}
{% block app_content %}
    <div class="jumbotron">
        <h1 class="display-4">About</h1>
        <p>The Peptoid Data Bank</p>
        <hr class="my-4">
        <p style="font-size: 1.5rem; font-weight: 300;">This is a techical demonstration of my implementation of a web development using Flask to create a searchable database for published peptoid structures.</p>
    </div>
    <div class="card" style = 'width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    padding: 1rem !important; margin-bottom: 3rem !important;
    background-color: #f8f9fa !important;
    border-radius: 0.25rem !important;'>
        <div class="card-body">
            <h1>Development</h1>
            <h4>Development of this technical demonstration was done by Ethan Weisberg using Flask, a web framework for Python. Bootstrap was used as the framework for CSS, which is used in the layout of the website. Flask-sqlalchemy was used for the backend database.
                For more information see: <a class="btn btn-primary" href = "https://github.com/etweisberg/peptoid_db_website">GitHub</a>
            </h4>
        </div>
    </div>
<br>
<br>
<br>
            {% endblock %}