<html>
  {% extends 'bootstrap/base.html' %}
  {% block title %}
  {% if title %}{{ title }} - PeptoidDB{% else %}Welcome to the PeptoidDB{% endif %}
  {% endblock %}
    </head>
    <body>
        {% block navbar %}
        <nav class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header navbar-center">
              <a class="navbar-brand" href="{{ url_for('home') }}">PeptoidDB</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-center">
                  <li><a href="{{ url_for('home') }}">Gallery</a></li>
                  <li><a href="{{ url_for('search') }}">Explore</a></li>
              </ul>
            </div>
          </div>
        </nav>
        {% endblock %}
        <hr>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
          {% for message in messages %}
          <span style="color: red;">{{ message }}</span>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
