<html>
    <head>
      {% if title %}
      <title>{{ title }} - Peptoid Data Bank</title>
      {% else %}
      <title>Welcome to the Peptoid Data Bank</title>
      {% endif %}
    </head>
    <body>
        <div>Peptoid Data Bank:
          <a href="{{  url_for('index')  }}">Home</a>
           <a href="{{  url_for('search')  }}">Search</a>
        </div>
        <hr>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
