{% extends "base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='bootstrap-grid.css')}}">
{% endblock %}
{% block app_content %}
        <h1>{{ title }}</h1>
        <div class="container">
                <div class="row">
                        {% for i in range(peptoid_codes.__len__())%}
                        <div class="col-sm">
                                <div class="col text-center">
                                        <img src="{{images[i]}}" />
                                <div class="col text-center">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                                href="{{ peptoid_urls[i] }}">{{ peptoid_codes[i] }}</a></button>
                                </div>
                                </div>
                        </div>
                        {% if i % 3 and i == peptoid_codes.__len__()%}
                                </div><div class = 'row'>    
                        {% endif %}
                {% endfor %}
         </div>

        
        <!-- {% for i in range(peptoid_codes.__len__())%}
        <hr>
        <img src="{{images[i]}}"/>
        <button type="button" class="btn btn-sm btn-outline-secondary"><a href = "{{ peptoid_urls[i] }}">{{ peptoid_codes[i] }}</a></button>
        {% endfor %}
        <div class="container">
                <div class="row">
                        <div class="col-sm">
                                One of three columns
                        </div>
                        <div class="col-sm">
                                One of three columns
                        </div>
                        <div class="col-sm">
                                One of three columns
                        </div>
                </div>
        </div> -->
{% endblock %}
