{% extends "base.html" %}

{# allows for easy integration of wtf-form with bootstrap styles #}
{% import 'bootstrap/wtf.html' as wtf %}

{# loads in form #}
{% block app_content %}
    <div class="jumbotron">
        <h2 class="display-4">{{ title }}</h2>
        <p>{{description}}</p>
        <hr class="my-4">
        <p style="font-size: 1.5rem; font-weight: 300;">{{info}}</p>
    </div>
    <div class = container>
        <div class = "row">
            <div class = "col-md-4 text-left">    
            </div>
            <div class = "col-md-4 text-left">
                {{ wtf.quick_form(form) }}   
            </div>
        </div>
    </div>
{% endblock %}


